schema/odd/umfeldbriefe.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" n="testms" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TEI for Manuscript Description</title>
        <author>Axelle Lecroq</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/">
          Distributed under a Creative Commons Attribution-ShareAlike
          3.0 Unported License</licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>Copyright 2013 TEI Consortium.</p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with
            or without modification, are permitted provided that the
            following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the
              above copyright notice, this list of conditions and the
              following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the
              above copyright notice, this list of conditions and the
              following disclaimer in the documentation and/or other
              materials provided with the distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and
            contributors "as is" and any express or implied
            warranties, including, but not limited to, the implied
            warranties of merchantability and fitness for a particular
            purpose are disclaimed. In no event shall the copyright
            holder or contributors be liable for any direct, indirect,
            incidental, special, exemplary, or consequential damages
            (including, but not limited to, procurement of substitute
            goods or services; loss of use, data, or profits; or
            business interruption) however caused and on any theory of
            liability, whether in contract, strict liability, or tort
            (including negligence or otherwise) arising in any way out
            of the use of this software, even if advised of the
            possibility of such damage.</p>
          </licence>
          <p>TEI material can be licensed differently depending on the
          use you intend to make of it. Hence it is made available
          under both the CC+BY and BSD-2 licences. The CC+BY licence
          is generally appropriate for usages which treat TEI content
          as data or documentation. The BSD-2 licence is generally
          appropriate for usage of TEI content in a software
          environment. For further information or clarification,
          please contact the <ref target="mailto:info@tei-c.org">TEI
          Consortium</ref>.</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written from scratch.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <div1>
        <head><gi>body</gi> eines Umfeldbriefes der Jean Paul Edition edieren</head>
        <div2>
          <head>Briefanfang</head>
          <p>Der Briefanfang wird mit dem <gi>opener</gi>-Element angegeben. Im <gi>dateline</gi>-Element können sich eine Datumsangabe (<gi>date</gi>) und Schreibort (<gi>placeName</gi>) befinden.</p>
          <egXML xmlns="http://www.tei-c.org/ns/Examples">
            <opener>
              <dateline>Meiningen den 26ten<lb/>Februar 12.</dateline>
            </opener>
          </egXML>
        </div2>
        <div2>
          <head>Briefschluss</head>
          <p>Der Briefschluss wird in einem <gi>closer</gi>-Element notiert. Im <gi>salute</gi>Element wird die Grußformel während die Unterschrift im <gi>signed</gi>-Element kodiert. </p>
          <egXML xmlns="http://www.tei-c.org/ns/Examples">
            <closer>
              <signed>Ihre treue Dienerin<lb/>
                Heimin, geb. Arnold
              </signed>
            </closer>
          </egXML>
          <p>Ein Postskriptum kann dem Brief ebenfalls hinzugefügt werden. Dieses Postskriptum wird dann im <gi>postscript</gi>-Element eingefügt. Der Text ist in einem zusätzlichen <gi>p</gi>-Element transkribiert.</p>
          <egXML xmlns="http://www.tei-c.org/ns/Examples">
            <postscript>
              <p><persName key="JP-002186">Konitzen</persName> könnt Ihr gelegentlich sagen,
                ich möchte doch bald einmal wieder einen Brief von ihn erhalten.</p>
            </postscript>
          </egXML>
        </div2>
        <div2>
          <head>Schreibakt</head>
          <p>Ein Schreibakt wird mithilfe eines <gi>div</gi>-Element abgebildet. Das Attribut <code>@type</code> des <gi>div</gi>-Element ist <code>writingSession</code>. Die Nummer des Schreibakts wird im Attribut <code>@n</code> angegeben. </p>
          <p>Die SchreibaktschreiberInnen wird im Attribut <code>@hand</code> notiert. Folgende Werte sind möglich: <code>#author</code>, <code>#addresse</code>, <code>#unknown</code> und die editionsinterne ID aus dem Personenregister. </p>
        </div2>
      <div2>
        <head>Fremdsprachen</head>
        <p>Fremdsprachige Briefpassagen werden im <gi>foreign</gi>-Element kodiert, das das <code>xml:lang</code>-Attribut enthält. Innerhalb des <code>xml:lang</code>-Attributs werden mehrere Werte akzeptiert, die den Sprachen Lateinisch, Französisch, Englisch, Griechisch, Italienisch und Spanisch entsprechen. </p>
      </div2>
      <div2>
        <head>Briefverweise</head>
        <p>Der verwiesene Brief wird dann im Text mit dem <gi>ref</gi>-Element gekennzeichnet. Im Attribut <code>@type</code> wird angegeben, dass es sich tatsächlich um einen Brief (und kein Werk zum Beispiel) handelt, während im <code>@target</code>-Attribut die editionsinterne ID des verwiesenen Briefes steht.</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <ref type="letter" target="JP-UB0974">von 26.ten</ref>
        </egXML>
      </div2>
      <div2>
        <head>Textkorrekturen</head>
        <p> Der gelöschte oder durchgestrichene Text von BriefschreiberInnen wird im <gi>del</gi>-Element kodiert. Mit dem <code>@rendition</code>Attribut kann angegeben werden, ob der Text zum Beispiel durchgestrichen oder unleserlich ist. </p>
        <p>Hinzugefügter Text wird in einem <gi>add</gi>-Element kodiert. Mit dem <code>place</code>Attribut wird notiert, wo der hinzugefügte Text im Brief eingefügt wurde: über der Zeile, unter der Zeilen, rechts oder links...</p>
        <p>Diese beiden Elemente können zusammen verwendet werden, wenn es sich um eine Textlöschung oder -streichung handelt, die von der Korrektur gefolgt ist. In diesem Fall werden die beiden Elemente in ein <gi>subst</gi>-Element eingefügt.</p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <subst>
            <del>r</del>
            <add place="across">s</add>
          </subst>
        </egXML>
      </div2>
        <div2>
        <head>Textverlust</head>
        <p>Das <gi>gap</gi>Element bezeichnet einen Buchstaben oder ein Wort, das nicht transkribiert werden konnte. Die Gründe dafür können vielfältig sein: der Text ist unleserlich oder wurde überdeckt, das Papier ist zerrissen oder ähnliches. Das Attribut <code>@unit</code> gibt an, ob es sich um Wörter (<code>words</code>), Buchstaben (<code>chars</code>), Zeilen (<code>lines</code>) oder Seite (<code>pages</code>) handelt, während das Attribut <code>@n</code> die Anzahl der untranskribierte Textelemente angibt. </p>
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <gap reason="illegible" unit="chars" quantity="1"/>
        </egXML>
      </div2>
      <div2>
        <head>Abkürzungen</head>
        <p>Die Abkürzung sind im <gi>abbr</gi>-Element kodiert.</p>
      </div2>
      <div2>
        <head>Ergänzungen und Verbesserungen der EditorInnen</head>
        <p>Die Ergänzungen der EditorInnen werden im <gi>note</gi>-Element kodiert. Drin könnte die EditorIn zum Beispiel auf eine bestimmte Person, ein Werk oder ein Textpassage verweisen. </p>
        <p>Die Textverbesserungen von der EditorInnen sind im <gi>choice</gi>-Element eingefügt. Drin wird das Briefschreiberswort im <gi>sic</gi>-Element getaggt, während die Wortverbesserung der EditorIn im <gi>corr</gi>-Element kodiert wird.</p> 
        <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <choice>
            <sic>Lufschlößern</sic>
            <corr>Luftschlößern</corr>
          </choice>
        </egXML>
      </div2>
        <div2>
          <head>Verweis auf eine Person, einen Ort oder ein Werk</head>
          <p>Ein Person wird mit dem Element <gi>persName</gi> verweist. Ein Ort wird im <gi>placeName</gi> kodiert. In diesen beiden Elemente befindet sich die editionsintern ID der verweisten Person oder Ort im <code>@key</code>-Attribut. </p>
          <egXML xmlns="http://www.tei-c.org/ns/Examples">
            auch an Ihre <persName key="JP-002581">Schwester Mahlmann</persName>, wenn ich
            vielleicht einen Tag in <placeName key="JP-005948">Leipzig</placeName> bleiben sollte.
          </egXML>
        </div2>
      
      </div1>
      <div1>
        <head>Tabelle von den von-Briefe Elementen</head>
        <p>Alle vewerndete Elemente für die Edition der Emfeldbriefe sind in <gi>moduRef</gi> deklariert. Da die <gi>teiHeader</gi>-Elemente schon in der Mutter ODD angepasst wurden, sind in diese ODD nur die <gi>body</gi>-Elementen für die Umfeldbriefe angepasst.</p>
      
      <schemaSpec ident="tei_ms" start="TEI" prefix="tei_" targetLang="en" docLang="en" source="file:///C:/Users/alecroq/Documents/gitlab/jeanpaul/schema/jpedition_odd.compiled.odd">
       
        <moduleRef key="core" include="abbr add addrLine address author bibl biblScope corr date del desc editor email expan foreign gap graphic hi item lb list listBibl milestone name note num orig p pb ptr pubPlace publisher ref resp respStmt term sic title teiCorpus unclear" source="https://www.tei-c.org/release/xml/tei/odd/p5subset.xml"/>
        <moduleRef key="header" include="availability correspAction correspContext correspDesc edition editionStmt fileDesc idno keywords licence notesStmt profileDesc publicationStmt sourceDesc teiHeader textClass titleStmt" source="https://www.tei-c.org/release/xml/tei/odd/p5subset.xml"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" include="text TEI byline closer dateline div opener postscript salute trailer body signed"/>
        <moduleRef key="msdescription" include="accMat collection handDesc handNote institution msDesc msIdentifier physDesc" source="https://www.tei-c.org/release/xml/tei/odd/p5subset.xml"/>
        <moduleRef key="namesdates" include="country forename listPerson orgName persName person place placeName surname" source="https://www.tei-c.org/release/xml/tei/odd/p5subset.xml"/>
        <moduleRef key="textcrit" include="listWit witness" />
        <moduleRef key="transcr" include="ex facsimile space supplied mod subst"/>
        <moduleRef key="figures" include="cell row table"/>
        <moduleRef key="linking" include="anchor seg"/>
        
        <elementSpec ident="add" mode="change">
          <attList>
            <attDef ident="place" mode="change">
            <valList mode="change" type="closed">
              <valItem mode="add" ident="across"/>
              <valItem mode="add" ident="intralinear"/>
              <valItem mode="add" ident="left"/>
              <valItem mode="add" ident="right"/>
              <valItem mode="add" ident="sublinear"/>
              <valItem mode="add" ident="superlinear"/>
            </valList>
            </attDef>
            <attDef ident="hand" mode="change">
              <valList mode="change" type="open">
                <valItem mode="add" ident="#author"/>
                <valItem mode="add" ident="#index"/>
                <valItem mode="add" ident="#unknown"/>
                <valItem mode="add" ident="#addressee"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="bibl" mode="change">
          <attList>
            <attDef ident="subtype" mode="change">
              <valList mode="change" type="closed">
                <valItem mode="add" ident="werk"/>
                <valItem mode="add" ident="werke-jp"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="closer" mode="change">
          <attList>
            <attDef ident="rend" mode="change">
              <valList mode="change" type="open">
                <valItem mode="add" ident="paragraph"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        <elementSpec ident="del" mode="change">
          <attList>
            <attDef ident="hand" mode="change">
              <valList mode="change" type="open">
                <valItem mode="add" ident="#author"/>
                <valItem mode="add" ident="#unknown"/>
                <valItem mode="add" ident="#addressee"/>
              </valList>
            </attDef>
            <attDef ident="rendition" mode="change">
              <valList mode="change" type="open">
                <valItem mode="add" ident="#erased"/>
                <valItem mode="add" ident="#ow"/>
                <valItem mode="add" ident="#s"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="date" mode="change">
          <attList>
          <attList>
            <attDef ident="calendar" mode="change">
              <valList mode="change" type="open">
                <valItem mode="add" ident="#Gregorian"/>
              </valList>
            </attDef>
          </attList>
            <attDef ident="hand" mode="change">
              <valList mode="change" type="open">
                <valItem mode="add" ident="#author"/>
                <valItem mode="add" ident="#unknown"/>
                <valItem mode="add" ident="#index"/>
              </valList>
            </attDef>
            <attDef ident="rendition" mode="change">
              <valList mode="change" type="open">
                <valItem mode="add" ident="#smaller"/>
              </valList>
            </attDef>
            <attDef ident="type" mode="change">
              <valList mode="change" type="open">
                <valItem mode="add" ident="attachment"/>
                <valItem mode="add" ident="writingSession"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="foreign" mode="change">
          <attList>
            <attDef ident="xml:lang" mode="change">
              <valList mode="change" type="semi">
                <valItem mode="add" ident="lat"/>
                <valItem mode="add" ident="fra"/>
                <valItem mode="add" ident="eng"/>
                <valItem mode="add" ident="grc"/>
                <valItem mode="add" ident="it"/>
                <valItem mode="add" ident="spa"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="gap" mode="change">
          <attList>
            <attDef ident="reason" mode="change">
              <valList mode="add" type="closed">
                <valItem mode="add" ident="covered"/>
                <valItem mode="add" ident="empty"/>
                <valItem mode="add" ident="fm"/>
                <valItem mode="add" ident="illegible"/>
                <valItem mode="add" ident="lost"/>
                <valItem mode="add" ident="print"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="hi" mode="change">
          <attList>
            <attDef ident="hand" mode="change">
              <valList mode="change" type="semi">
                <valItem mode="add" ident="#author"/>
                <valItem mode="add" ident="#unknown"/>
              </valList>
            </attDef>
            <attDef ident="rendition" mode="change">
              <valList mode="change" type="closed">
                <valItem mode="add" ident="#left"/>
                <valItem mode="add" ident="#right"/>
                <valItem mode="add" ident="#aq"/>
                <valItem mode="add" ident="#sup"/>
                <valItem mode="add" ident="#u"/>
                <valItem mode="add" ident="#uu"/>
                <valItem mode="add" ident="#c"/>
                <valItem mode="add" ident="#f"/>
                <valItem mode="add" ident="#mMM"/>
              </valList>
            </attDef>
            <attDef ident="rend" mode="change">
              <valList mode="change" type="semi">
                <valItem mode="add" ident="bold"/>
                <valItem mode="add" ident="italic"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="milestone" mode="change">
          <attList>
            <attDef ident="rendition" mode="change">
              <valList mode="change" type="semi">
                <valItem mode="add" ident="#hr"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="mod" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="change" type="closed">
                <valItem mode="add" ident="variant"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
       
        <elementSpec ident="ref" mode="change">
          <attList>
            <attDef ident="subtype" mode="change">
              <valList mode="change" type="closed">
                <valItem mode="add" ident="comment"/>
                <valItem mode="add" ident="document"/>
                <valItem mode="add" ident="passage"/>
                <valItem mode="add" ident="text"/>
              </valList>
            </attDef>
            <attDef ident="type" mode="change">
              <valList mode="add" type="semi">
                <valItem mode="add" ident="comment"/>
                <valItem mode="add" ident="contextLetter"/>
                <valItem mode="add" ident="letter"/>
                <valItem mode="add" ident="missingLetter"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="salute" mode="change">
          <attList>
            <attDef ident="rendition" mode="change">
              <valList mode="change" type="semi">
                <valItem mode="add" ident="#smaller"/>
                <valItem mode="add" ident="#left"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="seg" mode="change">
          <attList>
            <attDef ident="rend" mode="change">
              <valList mode="change" type="closed">
                <valItem mode="add" ident="left"/>
                <valItem mode="add" ident="mBottom"/>
                <valItem mode="add" ident="mTop"/>
                <valItem mode="add" ident="other"/>
                <valItem mode="add" ident="right"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="change">
              <valList mode="change" type="closed">
                <valItem mode="add" ident="continuedText"/>
                <valItem mode="add" ident="note"/>
                <valItem mode="add" ident="other"/>
                <valItem mode="add" ident="postscript"/>
              </valList>
            </attDef>
            <attDef ident="style" mode="change">
              <valList mode="change" type="closed">
                <valItem mode="add" ident="rotate-0"/>
                <valItem mode="add" ident="rotate-180"/>
                <valItem mode="add" ident="rotate-90"/>
              </valList>
            </attDef>
            <attDef ident="type" mode="change">
              <valList mode="change" type="semi">
                <valItem mode="add" ident="comment"/>
                <valItem mode="add" ident="transposition"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="supplied" mode="change">
          <attList>
            <attDef ident="reason" mode="change">
              <valList mode="change" type="closed">
                <valItem mode="add" ident="covered"/>
                <valItem mode="add" ident="damage"/>
                <valItem mode="add" ident="omission"/>
                <valItem mode="add" ident="print"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="sourceDesc" mode="change">
          <content>
            <elementRef key="listWit"/>
            <elementRef key="p"/>
          </content>
        </elementSpec>
        
        <elementSpec ident="unclear" mode="change">
          <attList>
            <attDef ident="reason" mode="change">
              <valList mode="add" type="semi">
                <valItem mode="add" ident="covered"/>
                <valItem mode="add" ident="damage"/>
                <valItem mode="add" ident="illegible"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
      </schemaSpec>
      </div1>
    </body>
  </text>
</TEI>