briefe/umfeldbriefe/ediarum.JP-UMFELDBRIEFE.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.tei-c.org/ns/1.0" xmlns:telota="http://www.telota.de" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="TEI">
      <attribute name="type">
        <data type="NCName"/>
      </attribute>
      <attribute name="telota:doctype">
        <data type="NCName"/>
      </attribute>
      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
        <data type="NCName"/>
      </attribute>
      <element name="teiHeader">
        <element name="fileDesc">
          <element name="titleStmt">
            <ref name="title"/>
            <oneOrMore>
              <element name="respStmt">
                <optional>
                  <attribute name="ref">
                    <data type="anyURI"/>
                  </attribute>
                </optional>
                <ref name="persName"/>
                <element name="resp">
                  <ref name="note"/>
                </element>
              </element>
            </oneOrMore>
          </element>
          <element name="editionStmt">
            <element name="edition">
              <text/>
            </element>
          </element>
          <element name="publicationStmt">
            <element name="publisher">
              <element name="email">
                <text/>
              </element>
              <oneOrMore>
                <element name="orgName">
                  <text/>
                </element>
              </oneOrMore>
              <ref name="address"/>
            </element>
            <element name="pubPlace">
              <data type="NCName"/>
            </element>
            <ref name="date"/>
            <element name="availability">
              <attribute name="status">
                <data type="NCName"/>
              </attribute>
              <element name="licence">
                <attribute name="target">
                  <data type="anyURI"/>
                </attribute>
              </element>
            </element>
          </element>
          <element name="sourceDesc">
            <element name="listWit">
              <oneOrMore>
                <element name="witness">
                  <oneOrMore>
                    <choice>
                      <text/>
                      <ref name="bibl"/>
                      <element name="desc">
                        <attribute name="type">
                          <data type="NCName"/>
                        </attribute>
                        <oneOrMore>
                          <choice>
                            <text/>
                            <ref name="ref"/>
                          </choice>
                        </oneOrMore>
                      </element>
                      <element name="msDesc">
                        <attribute name="rend">
                          <data type="NCName"/>
                        </attribute>
                        <attribute name="type">
                          <data type="NCName"/>
                        </attribute>
                        <element name="msIdentifier">
                          <optional>
                            <element name="institution">
                              <text/>
                            </element>
                          </optional>
                          <zeroOrMore>
                            <element name="collection">
                              <text/>
                            </element>
                          </zeroOrMore>
                          <optional>
                            <ref name="idno"/>
                          </optional>
                        </element>
                        <optional>
                          <element name="physDesc">
                            <ref name="p"/>
                          </element>
                        </optional>
                      </element>
                    </choice>
                  </oneOrMore>
                </element>
              </oneOrMore>
            </element>
            <oneOrMore>
              <ref name="p"/>
            </oneOrMore>
          </element>
        </element>
        <element name="profileDesc">
          <element name="correspDesc">
            <oneOrMore>
              <element name="correspAction">
                <attribute name="type">
                  <data type="NCName"/>
                </attribute>
                <oneOrMore>
                  <choice>
                    <ref name="date"/>
                    <ref name="persName"/>
                    <ref name="placeName"/>
                  </choice>
                </oneOrMore>
              </element>
            </oneOrMore>
            <oneOrMore>
              <choice>
                <ref name="note"/>
                <element name="correspContext">
                  <optional>
                    <attribute name="n">
                      <data type="NCName"/>
                    </attribute>
                  </optional>
                  <choice>
                    <oneOrMore>
                      <ref name="ptr"/>
                    </oneOrMore>
                    <oneOrMore>
                      <ref name="ref"/>
                    </oneOrMore>
                  </choice>
                </element>
              </choice>
            </oneOrMore>
          </element>
          <element name="textClass">
            <oneOrMore>
              <element name="keywords">
                <attribute name="scheme"/>
                <zeroOrMore>
                  <element name="term">
                    <attribute name="corresp"/>
                    <text/>
                  </element>
                </zeroOrMore>
              </element>
            </oneOrMore>
          </element>
        </element>
      </element>
      <optional>
        <element name="facsimile">
          <element name="graphic">
            <attribute name="url">
              <data type="anyURI"/>
            </attribute>
          </element>
        </element>
      </optional>
      <element name="text">
        <element name="body">
          <optional>
            <ref name="p"/>
          </optional>
          <oneOrMore>
            <choice>
              <ref name="pb"/>
              <element name="div">
                <optional>
                  <attribute name="hand"/>
                </optional>
                <optional>
                  <attribute name="n"/>
                </optional>
                <attribute name="type">
                  <data type="NCName"/>
                </attribute>
                <optional>
                  <attribute>
                    <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                    <data type="NCName"/>
                  </attribute>
                </optional>
                <zeroOrMore>
                  <choice>
                    <ref name="anchor"/>
                    <ref name="closer"/>
                    <ref name="list"/>
                    <ref name="milestone"/>
                    <ref name="p"/>
                    <ref name="pb"/>
                    <ref name="table"/>
                    <element name="opener">
                      <oneOrMore>
                        <choice>
                          <text/>
                          <ref name="address"/>
                          <ref name="dateline"/>
                          <ref name="ex"/>
                          <ref name="hi"/>
                          <ref name="lb"/>
                          <ref name="pb"/>
                          <ref name="persName"/>
                          <ref name="placeName"/>
                          <ref name="ref"/>
                          <ref name="salute"/>
                          <ref name="seg"/>
                        </choice>
                      </oneOrMore>
                    </element>
                  </choice>
                </zeroOrMore>
                <choice>
                  <ref name="salute"/>
                  <zeroOrMore>
                    <ref name="postscript"/>
                  </zeroOrMore>
                </choice>
                <optional>
                  <ref name="signed"/>
                </optional>
              </element>
            </choice>
          </oneOrMore>
          <zeroOrMore>
            <ref name="postscript"/>
          </zeroOrMore>
        </element>
      </element>
    </element>
  </start>
  <define name="title">
    <element name="title">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="ref"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="persName">
    <element name="persName">
      <optional>
        <attribute name="key">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ref">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="sameAs">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="choice"/>
          <ref name="del"/>
          <ref name="ex"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="note"/>
          <ref name="orig"/>
          <ref name="pb"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="ref"/>
          <ref name="seg"/>
          <ref name="space"/>
          <ref name="subst"/>
          <ref name="supplied"/>
          <ref name="unclear"/>
          <element name="forename">
            <data type="NCName"/>
          </element>
          <element name="surname">
            <data type="NCName"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute>
          <name ns="http://www.w3.org/XML/1998/namespace">id</name>
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="bibl"/>
          <ref name="date"/>
          <ref name="del"/>
          <ref name="ex"/>
          <ref name="hi"/>
          <ref name="note"/>
          <ref name="orig"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="ptr"/>
          <ref name="ref"/>
          <ref name="seg"/>
          <ref name="space"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="address">
    <element name="address">
      <element name="addrLine">
        <oneOrMore>
          <choice>
            <text/>
            <ref name="hi"/>
            <ref name="lb"/>
            <ref name="placeName"/>
          </choice>
        </oneOrMore>
      </element>
      <optional>
        <element name="country">
          <data type="NCName"/>
        </element>
      </optional>
    </element>
  </define>
  <define name="date">
    <element name="date">
      <optional>
        <attribute name="calendar"/>
      </optional>
      <optional>
        <attribute name="cert">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="from">
          <data type="date"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="notAfter">
          <data type="date"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="notBefore">
          <data type="date"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="to">
          <data type="date"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="when">
          <data type="date"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="date"/>
          <ref name="ex"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="mod"/>
          <ref name="note"/>
          <ref name="orig"/>
          <ref name="ref"/>
          <ref name="seg"/>
          <ref name="sic"/>
          <ref name="subst"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="bibl">
    <element name="bibl">
      <optional>
        <attribute name="key">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="rend">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="sameAs">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="subtype">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="bibl"/>
          <ref name="del"/>
          <ref name="ex"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="orig"/>
          <ref name="pb"/>
          <ref name="persName"/>
          <ref name="ref"/>
          <ref name="seg"/>
          <ref name="subst"/>
          <ref name="supplied"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ref">
    <element name="ref">
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="subtype">
          <data type="NCName"/>
        </attribute>
      </optional>
      <attribute name="target">
        <data type="anyURI"/>
      </attribute>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="bibl"/>
          <ref name="date"/>
          <ref name="del"/>
          <ref name="ex"/>
          <ref name="foreign"/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="mod"/>
          <ref name="note"/>
          <ref name="orig"/>
          <ref name="pb"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="ref"/>
          <ref name="seg"/>
          <ref name="sic"/>
          <ref name="space"/>
          <ref name="subst"/>
          <ref name="supplied"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="idno">
    <element name="idno">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="idno"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="p">
    <element name="p">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="bibl"/>
          <ref name="choice"/>
          <ref name="date"/>
          <ref name="del"/>
          <ref name="ex"/>
          <ref name="foreign"/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="list"/>
          <ref name="milestone"/>
          <ref name="mod"/>
          <ref name="note"/>
          <ref name="pb"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="ref"/>
          <ref name="seg"/>
          <ref name="space"/>
          <ref name="subst"/>
          <ref name="supplied"/>
          <ref name="table"/>
          <ref name="unclear"/>
          <element name="accMat">
            <oneOrMore>
              <choice>
                <text/>
                <ref name="bibl"/>
                <ref name="date"/>
                <ref name="hi"/>
                <ref name="note"/>
                <ref name="orig"/>
                <ref name="p"/>
                <ref name="persName"/>
                <ref name="placeName"/>
                <ref name="ref"/>
                <ref name="title"/>
              </choice>
            </oneOrMore>
          </element>
          <element name="handDesc">
            <oneOrMore>
              <element name="handNote">
                <attribute>
                  <name ns="http://www.w3.org/XML/1998/namespace">id</name>
                  <data type="NCName"/>
                </attribute>
                <ref name="persName"/>
              </element>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="placeName">
    <element name="placeName">
      <optional>
        <attribute name="cert">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="key">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="ref">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="sameAs">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="del"/>
          <ref name="ex"/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="orig"/>
          <ref name="pb"/>
          <ref name="placeName"/>
          <ref name="seg"/>
          <ref name="sic"/>
          <ref name="subst"/>
          <ref name="supplied"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ptr">
    <element name="ptr">
      <attribute name="target">
        <data type="anyURI"/>
      </attribute>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="table">
    <element name="table">
      <attribute name="cols">
        <data type="integer"/>
      </attribute>
      <attribute name="rows">
        <data type="integer"/>
      </attribute>
      <optional>
        <element name="head">
          <oneOrMore>
            <choice>
              <text/>
              <ref name="hi"/>
              <ref name="lb"/>
              <ref name="pb"/>
            </choice>
          </oneOrMore>
        </element>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="anchor"/>
          <element name="row">
            <optional>
              <attribute name="rend">
                <data type="NCName"/>
              </attribute>
            </optional>
            <optional>
              <attribute name="role">
                <data type="NCName"/>
              </attribute>
            </optional>
            <oneOrMore>
              <element name="cell">
                <oneOrMore>
                  <choice>
                    <text/>
                    <ref name="add"/>
                    <ref name="bibl"/>
                    <ref name="date"/>
                    <ref name="del"/>
                    <ref name="ex"/>
                    <ref name="gap"/>
                    <ref name="hi"/>
                    <ref name="lb"/>
                    <ref name="p"/>
                    <ref name="pb"/>
                    <ref name="persName"/>
                    <ref name="ref"/>
                    <ref name="seg"/>
                    <ref name="space"/>
                    <ref name="subst"/>
                    <ref name="supplied"/>
                    <ref name="unclear"/>
                  </choice>
                </oneOrMore>
              </element>
            </oneOrMore>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="pb">
    <element name="pb">
      <attribute name="n"/>
    </element>
  </define>
  <define name="anchor">
    <element name="anchor">
      <attribute name="type">
        <data type="NCName"/>
      </attribute>
      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">id</name>
        <data type="NCName"/>
      </attribute>
    </element>
  </define>
  <define name="milestone">
    <element name="milestone">
      <attribute name="rendition"/>
      <attribute name="unit">
        <data type="NCName"/>
      </attribute>
    </element>
  </define>
  <define name="closer">
    <element name="closer">
      <optional>
        <attribute name="rend">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="address"/>
          <ref name="anchor"/>
          <ref name="dateline"/>
          <ref name="ex"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="pb"/>
          <ref name="persName"/>
          <ref name="ref"/>
          <ref name="salute"/>
          <ref name="seg"/>
          <ref name="signed"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="list">
    <element name="list">
      <oneOrMore>
        <element name="item">
          <oneOrMore>
            <choice>
              <text/>
              <ref name="add"/>
              <ref name="anchor"/>
              <ref name="choice"/>
              <ref name="date"/>
              <ref name="del"/>
              <ref name="ex"/>
              <ref name="hi"/>
              <ref name="lb"/>
              <ref name="p"/>
              <ref name="pb"/>
              <ref name="persName"/>
              <ref name="placeName"/>
              <ref name="ref"/>
              <ref name="seg"/>
              <ref name="space"/>
              <ref name="subst"/>
              <ref name="supplied"/>
              <ref name="table"/>
              <ref name="unclear"/>
            </choice>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="salute">
    <element name="salute">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="bibl"/>
          <ref name="del"/>
          <ref name="ex"/>
          <ref name="foreign"/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="mod"/>
          <ref name="note"/>
          <ref name="pb"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="ref"/>
          <ref name="seg"/>
          <ref name="space"/>
          <ref name="subst"/>
          <ref name="supplied"/>
          <ref name="table"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="dateline">
    <element name="dateline">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="date"/>
          <ref name="del"/>
          <ref name="ex"/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="mod"/>
          <ref name="pb"/>
          <ref name="placeName"/>
          <ref name="seg"/>
          <ref name="space"/>
          <ref name="subst"/>
          <ref name="supplied"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="seg">
    <element name="seg">
      <optional>
        <attribute name="corresp"/>
      </optional>
      <optional>
        <attribute name="hand"/>
      </optional>
      <optional>
        <attribute name="rend"/>
      </optional>
      <optional>
        <attribute name="style">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="subtype">
          <data type="NCName"/>
        </attribute>
      </optional>
      <attribute name="type">
        <data type="NCName"/>
      </attribute>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="bibl"/>
          <ref name="date"/>
          <ref name="del"/>
          <ref name="ex"/>
          <ref name="foreign"/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="mod"/>
          <ref name="note"/>
          <ref name="orig"/>
          <ref name="pb"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="ref"/>
          <ref name="seg"/>
          <ref name="space"/>
          <ref name="subst"/>
          <ref name="supplied"/>
          <ref name="table"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="lb">
    <element name="lb">
      <optional>
        <ref name="anchor"/>
      </optional>
    </element>
  </define>
  <define name="hi">
    <element name="hi">
      <optional>
        <attribute name="cert">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="hand"/>
      </optional>
      <optional>
        <attribute name="rend">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="rendition"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="abbr"/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="bibl"/>
          <ref name="choice"/>
          <ref name="date"/>
          <ref name="del"/>
          <ref name="ex"/>
          <ref name="foreign"/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="mod"/>
          <ref name="note"/>
          <ref name="orig"/>
          <ref name="pb"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="ref"/>
          <ref name="seg"/>
          <ref name="sic"/>
          <ref name="space"/>
          <ref name="subst"/>
          <ref name="supplied"/>
          <ref name="table"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ex">
    <element name="ex">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="hi"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="postscript">
    <element name="postscript">
      <oneOrMore>
        <choice>
          <ref name="milestone"/>
          <ref name="p"/>
        </choice>
      </oneOrMore>
      <optional>
        <ref name="closer"/>
      </optional>
    </element>
  </define>
  <define name="signed">
    <element name="signed">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="anchor"/>
          <ref name="ex"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="seg"/>
          <ref name="space"/>
          <ref name="table"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="choice">
    <element name="choice">
      <optional>
        <ref name="abbr"/>
      </optional>
      <optional>
        <choice>
          <element name="expan">
            <data type="NCName"/>
          </element>
          <group>
            <ref name="sic"/>
            <element name="corr">
              <optional>
                <attribute name="cert">
                  <data type="NCName"/>
                </attribute>
              </optional>
              <optional>
                <attribute name="type">
                  <data type="NCName"/>
                </attribute>
              </optional>
              <text/>
            </element>
          </group>
        </choice>
      </optional>
    </element>
  </define>
  <define name="orig">
    <element name="orig">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="bibl"/>
          <ref name="choice"/>
          <ref name="date"/>
          <ref name="del"/>
          <ref name="ex"/>
          <ref name="foreign"/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="mod"/>
          <ref name="pb"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="ref"/>
          <ref name="seg"/>
          <ref name="space"/>
          <ref name="subst"/>
          <ref name="supplied"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="space">
    <element name="space">
      <attribute name="unit">
        <data type="NCName"/>
      </attribute>
      <optional>
        <ref name="anchor"/>
      </optional>
    </element>
  </define>
  <define name="del">
    <element name="del">
      <optional>
        <attribute name="cert">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="hand"/>
      </optional>
      <optional>
        <attribute name="rendition"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="del"/>
          <ref name="ex"/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="orig"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="seg"/>
          <ref name="sic"/>
          <ref name="space"/>
          <ref name="subst"/>
          <ref name="supplied"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="subst">
    <element name="subst">
      <optional>
        <ref name="seg"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="add"/>
          <ref name="del"/>
        </choice>
      </zeroOrMore>
      <optional>
        <ref name="persName"/>
      </optional>
    </element>
  </define>
  <define name="supplied">
    <element name="supplied">
      <attribute name="cert">
        <data type="NCName"/>
      </attribute>
      <optional>
        <attribute name="reason">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="hi"/>
          <ref name="persName"/>
          <ref name="seg"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="unclear">
    <element name="unclear">
      <optional>
        <attribute name="reason">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="del"/>
          <ref name="ex"/>
          <ref name="hi"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="seg"/>
          <ref name="subst"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="add">
    <element name="add">
      <optional>
        <attribute name="hand"/>
      </optional>
      <optional>
        <attribute name="place">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="bibl"/>
          <ref name="date"/>
          <ref name="del"/>
          <ref name="ex"/>
          <ref name="foreign"/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="mod"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="ref"/>
          <ref name="seg"/>
          <ref name="subst"/>
          <ref name="supplied"/>
          <ref name="unclear"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="sic">
    <element name="sic">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="del"/>
          <ref name="ex"/>
          <ref name="foreign"/>
          <ref name="gap"/>
          <ref name="hi"/>
          <ref name="mod"/>
          <ref name="persName"/>
          <ref name="placeName"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="mod">
    <element name="mod">
      <attribute name="type">
        <data type="NCName"/>
      </attribute>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="bibl"/>
          <ref name="date"/>
          <ref name="del"/>
          <ref name="foreign"/>
          <ref name="hi"/>
          <ref name="mod"/>
          <ref name="placeName"/>
          <ref name="ref"/>
          <ref name="seg"/>
          <ref name="sic"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="gap">
    <element name="gap">
      <optional>
        <attribute name="quantity"/>
      </optional>
      <attribute name="reason">
        <data type="NCName"/>
      </attribute>
      <optional>
        <attribute name="unit">
          <data type="NCName"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="foreign">
    <element name="foreign">
      <attribute>
        <name ns="http://www.w3.org/XML/1998/namespace">lang</name>
        <data type="NCName"/>
      </attribute>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="add"/>
          <ref name="anchor"/>
          <ref name="choice"/>
          <ref name="hi"/>
          <ref name="lb"/>
          <ref name="orig"/>
          <ref name="persName"/>
          <ref name="placeName"/>
          <ref name="seg"/>
          <ref name="space"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="abbr">
    <element name="abbr">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="hi"/>
          <ref name="persName"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
</grammar>